<!DOCTYPE html>


<head>
  <title>CustomerTransactions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/customertransactions.css">
  <style>
    th {
      text-align: center;
    }

    td {
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>
    Transactions
  </h1>
  <div class="topnav">
      <a href="{{ url_for('customerHome')}}">Home</a>
      <a href="{{ url_for('viewCustomerCart')}}">Cart</a>
      <a class="active" href="#">Transactions</a>
      <a href="{{ url_for('logout')}}">Logout</a>

  </div>
  <br><br>
  <h2>
    Your Transactions:
  </h2>
  <br><br>
  <table class="table">
    <thead class="thead-dark">
      <tr style="color: rgb(253, 175, 175);">
        <th scope="col">Items Orderd</th>
        <th scope="col">Items Quantity</th>
        <th scope="col">Items Unit Price</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Delivery Status</th>
        <th scope="col">Delivery Details</th>
          <th scope="col">Feedback</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
            <td scope="row">{{row[9]}}</td>
            <td scope="row">{{row[4]}}</td>
            <td scope="row">{{row[8]}}</td>
            <td scope="row">{{row[5]}}</td>
            <td scope="row">{{row[6]}}</td>
            <td scope="row">{{row[10]}}</td>
           
            {% if row[6]=='Delivered' %}
            <td scope="row">
                <form method="POST" action="{{ url_for('customerFeedback')}}">
                  <input type="hidden" name="Id" value="{{row[0]}}">
                    <button type="submit" class="btn btn-primary">Fill Feedback</button>
                </form>
            </td>
            {% else %}
            <td scope="row">
                <button type="submit" class="btn btn-primary" disabled>Fill Feedback</button>
            </td>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>