<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/css/customerhome.css">
  <title>CustomerHome</title>
</head>

<body>
  <h1>
    LiveMart For Customers
  </h1>
  <input type="text" id = "livebox">
  <p id = "datalist"></p>
  <div class="topnav">
    <a class="active" href="#">Home</a>
    <a href="{{ url_for('viewCustomerCart')}}">Cart</a>
    <a href="{{ url_for('customerTransactions')}}">Transactions</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <br>
  {% with messages=get_flashed_messages()%}
  {% if messages %}
  {% for message in messages %}
  <p style="color:rebeccapurple;">{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <br>
  <h2>
    Shop By Category
  </h2>
  <br><br>
  <div id="cards">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a href="{{ url_for('customerOrderAll')}}">
            <div class="card box-shadow">
              <img src="../static/all.jpg" class="card-img-top" alt="..." width="100%" height="100%">
              <div class="card-body">
                <h5 class="card-title">All Products</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{ url_for('customerOrderCategory',category='Fruits And Vegetables')}}">
            <div class="card box-shadow">
              <img src="../static/fruveg.jpg" class="card-img-top" alt="..." width="100%" height="100%">
              <div class="card-body">
                <h5 class="card-title">Fruits And Vegetables</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{ url_for('customerOrderCategory',category='Food Grains , Oils And Masalas')}}">
            <div class="card box-shadow">
              <img src="../static/food grains.jpg" class="card-img-top" alt="..." width="100%" height="100%">
              <div class="card-body">
                <h5 class="card-title">Food Grains,Oils And Masalas</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div id="cards">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a href="{{ url_for('customerOrderCategory',category='Diary Products')}}">
            <div class="card box-shadow">
              <img src="../static/dairyalt.jpg" class="card-img-top" alt="..." width="100%" height="100%">
              <div class="card-body">
                <h5 class="card-title">Dairy Products</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{ url_for('customerOrderCategory',category='Snacks And Drinks')}}">
            <div class="card box-shadow">
              <img src="../static/snacksalt.jpg" class="card-img-top" alt="..." width="100%" height="100%">
              <div class="card-body">
                <h5 class="card-title">Snacks And Drinks</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{ url_for('customerOrderCategory',category='Others')}}">
            <div class="card box-shadow">
              <img src="../static/detergents.jpg" class="card-img-top" alt="..." width="100%" height="100%">
              <div class="card-body">
                <h5 class="card-title">Others</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</body>
<script>
  $(document).ready(function(){
      $("#livebox").on("input",function(e){
          $("#datalist").empty();
          $.ajax({
              method:"post",
              url:"/livesearch",
              data:{text:$("#livebox").val()},
              success:function(res){
                  var data = "<ul>";
                  $.each(res,function(index,value){
                      data += "<li>"+value.word_eng+"</li>";
                  });
                  data += "</ul>";
                  $("#datalist").html(data);
              }
          });
      });
  });
</script>
</html>