<!DOCTYPE html>
<html lang="en">
<head>
  <title>LiveMART</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <h1>LiveMarts</h1>
<br><br>
<div class="container">
  <form method = "post" action = "{{ url_for('logged') }}">
    {% with messages=get_flashed_messages()%}
      {% if messages %}
        {% for message in messages %}
          <p style="color:red;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="form-group">
      <label for="Role">Role</label>
      <select class="form-control" name=Role required>
        <option disabled selected value="">Select Role</option>
        <option>Wholesaler</option>
        <option>Retailer</option>
        <option>Customer</option>
      </select>
    </div>
    <div class="form-group">

      <label for="Username">Username</label>
      <input type="text" class="form-control" placeholder="Enter Username" name="Username" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter Password" name="Password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>