<!DOCTYPE html>
<html>
<head>
  <title>RetailerHomePage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/retailerhome.css">
</head>
<body>
  <h1>
    LiveMart For Retailers
  </h1>
  <div class="topnav">
    <a class="active" href="#">Home</a>
    <a href="#Cart">Cart</a>
    <a href="#Transactions">Transactions</a>
    <a href="#Transactions">Customer Transactions</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
    <h2>
      Manage Items
    </h2>
    <br>
  <div id="cards">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="{{ url_for('wholesalerAddItem') }}">
            <div class="card box-shadow">
              <img src="../static/add_items.PNG" class="card-img-top" alt="..." width="50%" height="50%">
              <div class="card-body">
                <h5 class="card-title">
                  Add New Item
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6">
          <a href="{{ url_for('wholesalerDeleteItem') }}">
            <img src="../static/remove_items.PNG" class="card-img-top" alt="..." width="50%" height="50%">
            <div class="card-body">
              <h5 class="card-title">
                Delete Item
              </h5>
            </div>
        </div>
        </a>
        <div class="card box-shadow">
        </div>
      </div>
    </div>
  </div>
    <h2>
      Shop by Category
    </h2>
    <br><br>
    <div id="cards">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a href="#">
              <div class="card box-shadow">
                <img src="../static/all.jpg" class="card-img-top" alt="..." width="100%" height="100%">
                <div class="card-body">
                  <center><h5 class="card-title">All Products</h5></center>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#">
              <div class="card box-shadow">
                <img src="../static/fruveg.jpg" class="card-img-top" alt="..." width="100%" height="100%">
                <div class="card-body">
                  <center><h5 class="card-title">Fruits And Vegetables</h5></center>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#">
              <div class="card box-shadow">
                <img src="../static/food grains.jpg" class="card-img-top" alt="..." width="100%" height="100%">
                <div class="card-body">
                  <center><h5 class="card-title">Food Grains,Oils And Masalas</h5></center>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div id="cards">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a href="#">
              <div class="card box-shadow">
                <img src="../static/dairyalt.jpg" class="card-img-top" alt="..." width="100%" height="100%">
                <div class="card-body">
                  <center><h5 class="card-title">Dairy Products</h5></center>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#">
              <div class="card box-shadow">
                <img src="../static/snacksalt.jpg" class="card-img-top" alt="..." width="100%" height="100%">
                <div class="card-body">
                  <center><h5 class="card-title">Snacks And Drinks</h5></center>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#">
              <div class="card box-shadow">
                <img src="../static/detergents.jpg" class="card-img-top" alt="..." width="100%" height="100%">
                <div class="card-body">
                  <center><h5 class="card-title">Others</h5></center>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</body>

</html>