<!DOCTYPE html>
<html>
    <head>
        <title>RetailerHomePage</title>
    </head>
    
    <body>
        <h1>
            LiveMart for Retailers
        </h1>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#Cart">Cart</a>
            <a href="#Transactions">Transactions</a>
            <a href="#Logout">Logout</a>
          </div>
          <link rel="stylesheet" href="../static/css/navbar.css">

          <h2>
            Buying?
        </h2> 
        <form method = "post" action = "{{ url_for('wholesalerAddItem') }}">
            <button type="submit">
                Add Item
            </button>
        </form>

        <form method = "post" action = "{{ url_for('wholesalerDeleteItem') }}">
            <button type="submit">
                Delete Item
            </button>
        </form>

        <form method = "post" action = "{{ url_for('wholesalerDeleteItem') }}">
            <button type="submit">
                Add Customer
            </button>
        </form>

        <form method = "post" action = "{{ url_for('wholesalerDeleteItem') }}">
            <button type="submit">
                Delete Customer
            </button>
        </form>

<h2>
            Selling?
        </h2> 



    </body>
</html>



  