<!DOCTYPE html>
<html>
<head>
  <title>RetailerUploadItem</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/retailerupload.css">
</head>
<body>
  <h1>
    Upload Item
  </h1>
  <div class="topnav">
    <a href="{{url_for('retailerHome')}}">Home</a>
    <a href="{{ url_for('viewRetailerCart') }}">Cart</a>
    <a href="#{{ url_for('retailerTransactions')}}">Transactions</a>
    <a href="{{url_for('retailerCustomerTransactions')}}">Customer Transactions</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <br>
  <div class="container" style="width: 50%;">
    <form method = "post" action = "{{ url_for('retailerUpdateItem') }}">
      <div class="form-group" style="text-align: center;">
        <label for="Category" style="color: rgb(179, 32, 32);">Item Category</label>
        <select class="form-control" name=itemCategory required>
          <option disabled selected value="">Select Category</option>
          <option>Fruits And Vegetables</option>
          <option>Snacks And Drinks</option>
          <option>Diary Products</option>
          <option>Food Grains , Oils And Masalas</option>
          <option>Others</option>
        </select>
      </div>
      <div class="form-group"style="text-align: center;">
        <label for="Item Name" style="color:rgb(179, 32, 32);">Item Name</label>
        <input type="text" class="form-control" placeholder="Enter Item Name" name="itemName" required>
      </div>
      <div class="form-group"style="text-align: center;">
        <label for="Item Price" style="color: rgb(179, 32, 32);">Item Price</label>
        <input type="text" class="form-control" placeholder="Enter Item Price" name="itemPrice" required>
      </div>
      <div class="form-group"style="text-align: center;">
        <label for="Item Quantity" style="color: rgb(179, 32, 32);">Item Quantity</label>
        <input type="text" class="form-control" placeholder="Enter Item Quantiy" name="itemQuantity" required>
      </div>
      <div class="form-group"style="text-align: center;">
        <label for="Item Image" style="color: rgb(179, 32, 32);">Item Image Link</label>
        <input type="text" class="form-control" placeholder="Enter Image Link" name="itemImage" required>
      </div>
      <center>
      <button type="submit" style="color:rgb(179, 32, 32) ;" class="btn btn-default">Submit</button>
      </center>
    </form>
  </div>
</body>
</html>
