<!DOCTYPE html>
<html>
<head>
  <title>RetailerDeleteItem</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/retailerremoveitem.css">
</head>
<body>
  <h1>
    Delete Item
  </h1>
  <div class="topnav">
    <a href="#">Home</a>
    <a href="#Cart">Cart</a>
    <a href="#Transactions">Transactions</a>
    <a href="#Transactions">Customer Transactions</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <br>
        <h2>Items You Currently Have</h2>
        <br>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Item Id</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Price</th>
                <th scope="col">Item Quantity</th>
                <th scope="col">Item Category</th>
              </tr>
            </thead>              
            <tbody>
              {% for row in rows %}
              <tr>
                <td scope="row">{{row[0]}}</td>
                <td scope="row">{{row[1]}}</td>
                <td scope="row">{{row[2]}}</td>
                <td scope="row">{{row[3]}}</td>
                <td scope="row">{{row[4]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
        <h2>Item You Wish To Delete</h2>
        <br>
        <div class="container" style="width: 50%;">
            <form method = "post" action = "{{ url_for('wholesalerRemoveItem') }}">
              <div class="form-group" style="text-align: center; font-size: large;">
                <label for="Item Id">Item Id</label>
                <input type="text" class="form-control" placeholder="Enter Item Id" name="itemId" required>
              </div>
              <center>
              <button type="submit" style="color: rgb(179, 32, 32);" class="btn btn-default">Submit</button>
            </center>
            </form>
          </div>
    </body>
</html>