<!DOCTYPE html>
<html>
    <head>
        <title>RetailerHomePage</title>
        <link rel="stylesheet" href="../static/css/rh.css">
    </head>
    
    <body>
        <h1>
            LiveMart for Retailers
        </h1>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#Cart">Cart</a>
            <a href="#Transactions">Transactions</a>
            <a href="#Logout">Logout</a>
          </div>
          <link rel="stylesheet" href="../static/css/navbar.css">
        <div class="container">
        <form method = "post" action = "{{ url_for('logged') }}">
            {% with messages=get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
          <h2>
            Manage Items
        </h2> 
        <form method = "post" action = "{{ url_for('wholesalerAddItem') }}">
            <button type="submit">
                Add Item
            </button>
        </form>

        <form method = "post" action = "{{ url_for('wholesalerDeleteItem') }}">
            <button type="submit">
                Delete Item
            </button>
        </form>
        <h2>
            Manage Customers
        </h2>
        <form method = "post" action = "{{ url_for('wholesalerDeleteItem') }}">
            <button type="submit">
                Add Customer
            </button>
        </form>

        <form method = "post" action = "{{ url_for('wholesalerDeleteItem') }}">
            <button type="submit">
                Delete Customer
            </button>
        </form>
    </div>
    <h2>
        Shop
    </h2> 
    </body>
</html>



  