<!DOCTYPE html>
<html lang="en">

<head>
    <title>LiveMART</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>OTP Verification</title>
</head>

<body>
    <br><br>
    <div class="container">
        <form method="post" action="/validateOTP">
            <h1>LiveMart</h1>
            <br>
            <h2 class="text-center">Two Step Authentication</h2>
            <h4> One - Time Password Has Been Sent To Your Registered eMail Id ! Please Check The eMail For The
                Verification.</h4>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter OTP" name="otp" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <br><br>
        </form>
    </div>

</body>

</html>