<!DOCTYPE html>
<html>
    <head>
        <title>WholesalerHomePage</title>
    </head>
    <body>
        <h1>
            WholesalerHomePage
        </h1>

        <form method = "post" action = "{{ url_for('wholesalerAddItem') }}">
            <button type="submit">
                Add Item
            </button>
        </form>

        <form method = "post" action = "{{ url_for('wholesalerDeleteItem') }}">
            <button type="submit">
                Delete Item
            </button>
        </form>
    </body>
</html>