<!DOCTYPE html>
<html>
    <head>
        <title>WholesalerViewItem</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/wholesalerviewitem.css">  
        <style>
          th {
            text-align: center;
          }
      
          td {
            text-align: center;
          }
        </style>   
    </head>
    <body>
        <h1>View Items</h1>
        <br>
        
        <div class="topnav">
          <a href="{{ url_for('wholesalerHome')}}">Home</a>
          <a  class="active" href="#">View Items</a>
          <a href="{{ url_for('logout')}}">Logout</a>
        </div>
        <br>
  <h2>
    List of Items
  </h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Item Id</th>
        <th scope="col">Item Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Item Quantity</th>
        <th scope="col">Item Category</th>
      </tr>
    </thead>              
    <tbody>
      {% for row in rows %}
      <tr>
        <td scope="row">{{row[0]}}</td>
        <td scope="row">{{row[1]}}</td>
        <td scope="row">{{row[2]}}</td>
        <td scope="row">{{row[3]}}</td>
        <td scope="row">{{row[4]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    </body>
    </html>