<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Delete Item</h1>
        <img src="{{rows[6]}},'.base64_encode({{rows[7]}}).'"/>
        <h2>Items You Currently Have</h2>
        <br>
        <table>
            <thead>
                <tr>
                    <th>ItemId</th>
                    <th>ItemName</th>
                    <th>ItemPrice</th>
                    <th>ItemQuantity</th>
                    <th>ItemCategory</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>                    
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <h2>Item You Wish To Delete</h2>
        <div class="container">
            <form method = "post" action = "{{ url_for('wholesalerRemoveItem') }}">
              <div class="form-group">
                <label for="Item Id">Item Id</label>
                <input type="text" class="form-control" placeholder="Enter Item Id" name="itemId" required>
              </div>
              <br>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
    </body>
</html>