<!DOCTYPE html>
<html>

<head>
  <title>ViewRetailers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/wholesalerviewretailers.css">
</head>

<body>
  <h1>
    View Retailers
  </h1>
  <div class="topnav">
    <a href="{{ url_for('wholesalerHome')}}">Home</a>
    <a href="{{ url_for('wholesalerViewItem') }}">View My Items</a>
    <a class="active" href="#">View Retailer Transactions</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <br>
  <h2>Retailers Transaction History</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Ordered By</th>
        <th scope="col">Items Ordered</th>
        <th scope="col">Quantity Ordered</th>
        <th scope="col">Items Unit Price</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Status</th>        
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td scope="row">{{row[0]}}</td>
        <td scope="row">{{row[1]}}</td>
        <td scope="row">{{row[6]}}</td>
        <td scope="row">{{row[2]}}</td>
        <td scope="row">{{row[5]}}</td>
        <td scope="row">{{row[3]}}</td>
        <td scope="row">{{row[4]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>